<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="p16 side-bar"
              position="end"
              mode="over">
    <ng-container *ngIf="data">
      <div class="posr">
        <mat-icon class="close-icon pointer"
                  (click)="driver?.close()">close</mat-icon>
      </div>

      <app-dynamic [data]="data"></app-dynamic>
    </ng-container>
  </mat-drawer>

  <div>
    <app-header></app-header>
    <div class="p16">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>
