<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">
    <mat-header-cell class="justify-content-center bold" *matHeaderCellDef>
      {{ column.field }}
    </mat-header-cell>
    <mat-cell class="justify-content-center" *matCellDef="let row">
      <ng-container *ngIf="column.field === 'count'">
        <button (click)="changeCount(row, 'add')"  mat-mini-fab color="primary" class="mx16">
         +
        </button>
      </ng-container>

      <ng-container *ngIf="column.field === 'team'">
        <span>{{ row[column.field] | teamNameById: teams }}</span>
      </ng-container>

      <ng-container *ngIf="column.field !== 'team'">
        <span [ngClass]="{'w25': column.field === 'count'}" class="text-center">{{ row[column.field] }}</span>
      </ng-container>

      <ng-container *ngIf="column.field === 'count'">
        <button (click)="changeCount(row, 'sub')" mat-mini-fab color="primary" class="mx16">
          -
        </button>
      </ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <!-- Group header -->
  <ng-container matColumnDef="groupHeader">
    <mat-cell class="pointer" colspan="999" *matCellDef="let group">
      <mat-icon *ngIf="group.expanded">expand_more</mat-icon>
      <mat-icon *ngIf="!group.expanded">chevron_right</mat-icon>
      <strong>{{groupByColumns[group.level-1]}} =
          {{group[groupByColumns[group.level-1]] | teamNameById: teams}}
          ({{group.totalCounts}})
         - <b i18n>total count  {{group[groupByColumns[group.level-1]] | sumCount: users}}</b>

      </strong>
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)"> </mat-row>

</mat-table>
